<template>
  <div class="my">
    <div class="my_box">
      <ul class="my_box_top">
        <li>
          <div class="img">
            <open-data type="userAvatarUrl"></open-data>
          </div>
        </li>
        <li>
          <p><open-data type="userNickName" lang="zh_CN"></open-data></p>
          <p>用户ID:{{ uid }}</p>
        </li>
        <li>
          <button class="mini-btn" type="warn" @click="goSpread">
            加入推广
          </button>
        </li>
      </ul>
      <div class="my_box_banner">
        <div class="my_box_banner_box">
          <ul class="my_box_banner_top">
            <li>
              <img
                src="https://m.mwfile.cn/mm1005/image/20210708/discount_coupon.png"
                alt=""
              /><span>优惠卷</span>
            </li>
            <li>
              <img
                src="https://m.mwfile.cn/mm1005/image/20210708/collection.png"
                alt=""
              /><span>收藏</span>
            </li>
          </ul>
          <div class="my_box_banner_bottom">
            <div class="my_box_banner_bottom_title">
              <p>订单</p>
              <p class="my_box_banner_bottom_title_icon">
                <span>全部订单</span><i class="iconfont icon-jiantou"></i>
              </p>
            </div>
            <ul class="my_box_banner_bottom_content">
              <li  v-for="(item,index) in iconList" :key='index' @click='goTabDetail(index)'>
                <p><i :class='item.icon' :style="item.color"></i></p>
                <p>{{item.name}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="my_box_list">
        <li>
          <dl>
            <dt><img src="../../utils/images/lng.png" alt="" /></dt>
            <dd>
              <p>领劵中心</p>
              <span>免费领取优惠卷</span>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><img src="../../utils/images/xin.png" alt="" /></dt>
            <dd>
              <p>美味心选</p>
              <span>美味旗下官方商城</span>
            </dd>
          </dl>
        </li>
      </ul>
      <ul class="my_box_end">
        <li>
          <div class="my_box_end_left">
            <i class="iconfont icon-yijianfankui"></i>
            <span>意见反馈</span>
          </div>
          <div class="my_box_end_left">
            <i class="iconfont icon-jiantou"></i>
          </div>
        </li>
         <li>
          <div class="my_box_end_left">
            <i class="iconfont icon-shezhi"></i>
            <span>设置</span>
          </div>
          <div class="my_box_end_left">
            <i class="iconfont icon-jiantou"></i>
          </div>
        </li>
         <li>
          <div class="my_box_end_left">
            <i class="iconfont icon-dianhua"></i>
            <span>联系我们</span>
          </div>
          <div class="my_box_end_left">
            <i class="iconfont icon-jiantou"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
//https://m.mwfile.cn/mm1005/image/20210708/ling_quan.png 领卷中心图片
// https://m.mwfile.cn/mm1005/image/20210708/mw_xin_xuan.png 美味心选图片
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      isRed: true,
      iconList: [],
      list: [],
    };
  },
  methods: {
    ...mapActions({
      getMyData: "my/getMyData",
      getMyImg: "my/getMyImg",
    }),
    goSpread() {
      console.log(1);
      wx.navigateTo({ url: "/pages/my/spread" });
    },
    goTabDetail(tabIndex){
      console.log(1);
      wx.navigateTo({ url: `/pages/my/tabdetail?tabIndex=${tabIndex}` });
    }
  },
  async created() {
    await this.getMyData();
    await this.getMyImg();
    this.list = [
      {
        icon: "iconfont icon-yijianfankui",
        content: "意见反馈",
        iconRight: "iconfont icon-jiantou",
      },
      {
        icon: "iconfont icon-shezhi",
        content: "设置",
        iconRight: "iconfont icon-jiantou",
      },
      {
        icon: "iconfont icon-dianhua",
        content: "联系我们",
        iconRight: "iconfont icon-jiantou",
      },
    ];
    this.iconList = [
      { icon: "iconfont icon-qianbao1", color:'color:#12d599',name: "待付款" },
      { icon: "iconfont icon-xiaoshoufahuo",color:'color:#73b4ff', name: "代发货" },
      { icon: "iconfont icon-shiyongjilu",color:'color:#6bb3fa', name: "可使用" },
      { icon: "iconfont icon-shouhoufuwu-zidongpingjia",color:'color:#FB768d', name: "待评价" },
      { icon: "iconfont icon-qian", color:'color:#fde06a',name: "退款/售后" },
    ];
  },
  computed: {
    ...mapState({
      MyImageSrc: (state) => state.my.MyImageSrc,
      uid: (state) => state.my.uid,
      nickName: (state) => state.my.nickName,
    }),
  },
};
</script>

<style lang='scss'>
.my {
  width: 100%;
  height: 100%;
  .my_box {
    width: 93%;
    margin: 0 auto;
  }
}
.my_box_top {
  padding: 20rpx 0;
  font-size: 32rpx;
  height: 104rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    height: 100%;
    width: 100%;
  }
  li:nth-child(1) {
    width: 40%;
    .img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  li:nth-child(2) {
    margin: 40rpx;
    line-height: 50rpx;
    p:last-child {
      color: #aaa;
    }
  }
  li:nth-child(3) {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    button {
      width: 180rpx;
      height: 60rpx;
      font-size: 30rpx;
      line-height: 60rpx;
      border-radius: 50rpx;
      color: #fff;
    }
  }
}
.my_box_banner {
  width: 100%;
  height: 340rpx;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20rpx;
  box-shadow: 1px 3px 2px 2px rgb(255, 238, 238);
  .my_box_banner_box {
    width: 95%;
    margin: 10px auto;
    .my_box_banner_top {
      display: flex;
      width: 100%;
      height: 80rpx;
      align-items: center;
      border-bottom: 1px solid #ccc;
      li {
        margin: 10rpx 0;
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 32rpx;
        justify-content: center;
        img {
          width: 40rpx;
          height: 40rpx;
          margin-right: 30rpx;
        }
      }
      li:nth-child(1) {
        border-right: 1px solid #ccc;
      }
    }
    .my_box_banner_bottom {
      width: 100%;
      .my_box_banner_bottom_title {
        display: flex;
        height: 80rpx;
        font-size: 32rpx;
        align-items: center;
        justify-content: space-between;
        .my_box_banner_bottom_title_icon {
          height: 100%;
          display: flex;
          align-items: center;
          color: #aaa;
          i {
            font-size: 32rpx;
          }
        }
      }
      .my_box_banner_bottom_content {
        // height: 140rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40rpx;
        margin-left: -10px;
        font-size: 25rpx;
        // padding:20rpx 0;
        li {
          flex: 1;
          // text-align: center;
          display: flex;
          align-items:center;
          justify-content:center;
          flex-wrap: wrap;
          margin-top:10px ;
          // line-height: 30rpx;
          p {
            font-size: 25rpx;
            text-align: center;
            i {
              margin-bottom:-5px;
              font-size: 60rpx;
              width: 80rpx;
              height: 80rpx;
            }
          }
        }
      }
    }
  }
}
.my_box_list {
  display: flex;
  width: 100%;
  height: 140rpx;
  justify-content: space-between;
  margin-top: 20px;
  li:nth-child(1) {
    margin-right: 10rpx;
  }
  li:nth-child(2) {
    margin-left: 10rpx;
  }
  li {
    font-size: 30rpx;
    flex: 1;
    height: 100%;
    border: 1px solid #eee;
    box-shadow: 1px 3px 2px 2px rgb(255, 238, 238);
    border-radius: 20rpx;
    display: flex;
    align-items: center;

    dl {
      display: flex;
      width: 100%;
      dt {
        margin: 0 10px;
        img {
          width: 110rpx;
          height: 110rpx;
        }
      }
      dd {
        margin-top: 8px;
        span {
          color: #aaa;
          font-size: 22rpx;
        }
      }
    }
  }
}
.my_box_end {
  width: 100%;
  margin-top: 40rpx;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rpx;
    font-size: 30rpx;
    i {
      font-size: 32rpx;
    }
    .my_box_end_left {
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
        color: #ccc;
      }
    }
  }
}
</style>