<template>
  <div class="large">
    <header>
      <div class="location"><span style="color: #fff">北京</span></div>
      <div class="form">
        <span><icon size="15px" type="search" /></span
        ><input
          type="text"
          class="search"
          placeholder-style="color:b7a1a0;font-size:12px"
          placeholder="搜索好物"
        />
      </div>
    </header>
    <swiper autoplay>
      <swiper-item v-for="item in larlist.page[1].params.data" :key="item.id">
        <img :src="item.img" alt="" mode="widthFix" />
      </swiper-item>
    </swiper>
    <ul class="nav">
      <li v-for="item in larlist.page[2].params.data" :key="item.id">
        <img :src="item.img" alt="" mode="widthFix" />
        <span>{{ item.title }}</span>
      </li>
    </ul>
    <div class="new">
      <h3>{{ larlist.page[3].params.content }}</h3>
      <scroll-view class="new_products" scroll-x="true">
        <ul>
          <li v-for="item in larlist.page[3].params.data" :key="item.id">
            <img :src="item.thumb" alt="" />
            <span class="title"><span>新品</span>{{ item.title }}</span>
            <p>已售{{ item.saled }}</p>
            <p>
              <span>￥{{ item.proprice }}</span
              ><span>￥{{ item.oldprice }}</span>
            </p>
          </li>
        </ul>
      </scroll-view>
    </div>
    <div class="value_recommended">
      <h3>{{ larlist.page[4].params.content }}</h3>
      <scroll-view class="new_products" scroll-x="true">
        <ul>
          <li v-for="item in larlist.page[4].params.data" :key="item.id">
            <img :src="item.thumb" alt="" />
            <span class="title"><span>新品</span>{{ item.title }}</span>
            <p>已售{{ item.saled }}</p>
            <p>
              <span>￥{{ item.proprice }}</span
              ><span>￥{{ item.oldprice }}</span>
            </p>
          </li>
        </ul>
      </scroll-view>
    </div>
    <div class="nav_classify">
      <scroll-view
        class="scroll-view_H"
        scroll-x="true"
        bindscroll="scroll"
        style="width: 100%"
      >
        <ul>
          <li
            @click="curIndex = index"
            v-for="(item, index) in tagsList"
            :key="item.id"
            :class="[curIndex===index ? 'active' : '']"
          >
            {{ item.name }}
          </li>
        </ul>
      </scroll-view>
    </div>
    <div class="classify_list">
       <!-- <ul>
          <li v-for="item in tagsList[curIndex].sortList" :key="item.id">
            <img :src="item.thumb" alt="" />
            <span class="title"><span>新品</span>{{ item.title }}</span>
            <p>已售{{ item.saled }}</p>
            <p>
              <span>￥{{ item.proprice }}</span
              ><span>￥{{ item.oldprice }}</span>
            </p>
          </li>
        </ul> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      curIndex: 0,
    };
  },
  watch: {
    curIndex: {
      handler(val) {
      console.log(val);
    }
    }
  },
  computed: {
    ...mapState({
      larlist: (state) => state.large.larlist,
      tagsList: (state) => state.large.tagsList,
    }),
  },
  methods: {
    ...mapActions({
      getTabs: "large/getTabs",
      getSwiperImg: "large/getSwiperImg",
    }),
  },
  created() {
    this.getSwiperImg();
    this.getTabs();
  },
};
</script>

<style scoped lang='scss'>
.large {
  width: 100%;
  background: #ccc;
}
header {
  width: 100%;
  height: 50px;
  background: #e8443d;
  display: flex;
  align-items: center;
}
swiper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.nav {
  display: flex;
  background: #fff;
  position: absolute;
  width: 91%;
  top: 220px;
  padding: 5px;
  left: 3%;
  border-radius: 20px;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 60px;
    font-size: 10px;
    img {
      width: 60%;
    }
    span {
      margin-top: 10px;
    }
  }
}
.location {
  padding: 5px;
}
.search {
  padding-left: 25px;
}
.form {
  width: 200px;
  padding-left: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background: #f6b4b1;
  border-radius: 15px;
  position: relative;
}
.form span {
  position: absolute;
  top: 7px;
  left: 10px;
}
.new {
  border-radius: 8px 8px 0 0;
  background: #fff;
  padding: 10px;
  width: 89%;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  border-bottom: 0.5px solid rgb(240, 237, 237);
}
.value_recommended {
  background: #fff;
  padding: 10px;
  width: 89%;
  margin: 0 auto;
  overflow: hidden;
}
.new_products {
  margin-left: 3%;
  background: #fff;
  // width: 90%;
  width: 95%;
  ul {
    display: flex;
    li {
      width: 120px;
      border-radius: 15px 15px 0 0;
      margin-right: 10px;
      background: #fff;
      box-shadow: 3px 3px 5px #ccc;
      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      img {
        width: 120px;
        height: 120px;
        border-radius: 15px 15px 0 0;
      }
    }
  }
}
.nav_classify {
  background: #fff;
  width: 100%;
  height: 40px;
  padding: 5px;
  ul {
    display: flex;
    width: 96%;
    margin: 0 auto;
    li {
      white-space: nowrap;
      margin-right: 15px;
      padding-bottom: 10px;
    }
    li.active {
        border-bottom: 5px solid red;
      }
  }
}
</style>
