<template>
  <div>
    <!-- mode="widthFix"图片裁剪、缩放的模式 缩放模式，宽度不变，高度自动变化，保持原图宽高比不变 -->
    <!-- 轮播图 -->
    <swiper autoplay>
      <swiper-item v-for="item in banners" :key="item.id">
        <img :src="item.picUrl" alt="" mode="widthFix" />
      </swiper-item>
    </swiper>
    <!-- 6个小icon -->
    <ul class="widget">
      <li v-for="item in widgets" :key="item.img" @click="goWebview(item)">
        <img :src="item.img" alt="" mode="widthFix" />
        <span>{{ item.name }}</span>
      </li>
    </ul>
    <!-- 限时特惠 -->
    <ul v-if="operation.length">
      <div class="operate-title">
        <p>
          <img :src="operation[1].titleIcon" mode="widthFix" />
          <span>{{ operation[1].title }}</span>
        </p>
        <p @click="goMore">
          <span>更多</span>
          <span>></span>
        </p>
      </div>
      <!-- 滚动 -->
      <scroll-view scroll-x="true">
        <ul class="operate-list">
          <li
            @click="clickGoods(item[0].id)"
            v-for="item in operation[1].listData[0].items64"
            :key="item[0].id"
          >
            <div>
              <img :src="item[0].image" alt="" />
            </div>
            <span class="shop-title">{{ item[0].title }}</span>
            <p class="tags">
              <span v-for="value in item[0].briefTag.split(',')" :key="value">{{
                value
              }}</span>
            </p>
          </li>
        </ul>
      </scroll-view>
      <!-- 三张图片 -->
      <div class="operate-poster">
        <img
          @click="clickImg(operation[0].listData[0].items64[0][0].url)"
          :src="operation[0].listData[0].items64[0][0].image"
          alt=""
          mode="widthFix"
        />
        <div>
          <img
            @click="clickImg(operation[0].listData[0].items64[1][0].url)"
            :src="operation[0].listData[0].items64[1][0].image"
            alt=""
            mode="widthFix"
          />
          <img
            @click="clickImg(operation[0].listData[0].items64[2][0].url)"
            :src="operation[0].listData[0].items64[2][0].image"
            alt=""
            mode="widthFix"
          />
        </div>
      </div>
    </ul>
    <!-- tab切换 -->
    <div class="classify">
      <header>
        <span
          @click="currentTab = index"
          :class="{ active: currentTab === index }"
          v-for="(item, index) in pageTabs"
          :key="item.id"
          >{{ item.name }}</span
        >
      </header>
      <!-- 具体数据 -->
      <div class="container">
        <div class="left">
          <template v-for="(item, index) in left">
            <rank v-if="item.type === 1" :key="index" :data="item.data" />
            <ad v-else-if="item.type === 3" :key="index" :data="item.data" />
            <goods v-else-if="item.type === 4" :key="index" :data="item.data" />
            <shop v-else :key="index" :data="item.data" />
          </template>
        </div>
        <div class="right">
          <template v-for="(item, index) in right">
            <rank v-if="item.type === 1" :key="index" :data="item.data" />
            <ad v-else-if="item.type === 3" :key="index" :data="item.data" />
            <goods v-else-if="item.type === 4" :key="index" :data="item.data" />
            <shop v-else :key="index" :data="item.data" />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import ad from "@/components/ad";
import goods from "@/components/goods";
import rank from "@/components/rank";
import shop from "@/components/shop";

export default {
  data() {
    return {
      currentTab: -1,
      left: [],
      right: [],
      systemInfo: {},
    };
  },
  components: {
    ad,
    goods,
    rank,
    shop,
  },
  computed: {
    ...mapState({
      banners: (state) => state.home.banners,
      widgets: (state) => state.home.widgets,
      operation: (state) => state.home.operation,
      pageTabs: (state) => state.home.pageTabs,
      shopQuery: (state) => state.home.shopQuery,
      shops: (state) => state.home.shops,
      shopCount: (state) => state.home.shopCount,
    }),
  },
  watch: {
    currentTab: {
      //tab切换数据
      async handler(value) {
        if (this.pageTabs.length) {
          // 改变tabId
          this.update({
            shopQuery: {
              ...this.shopQuery,
              tabId: this.pageTabs[value].id,
              pageNo: 1,
            },
          });
          // 重新获取店铺列表
          await this.getShopsByTab();
          this.sortShops();
          console.log("当前选择的tab...", value);
        }
      },
      immediate: true,
    },
  },
  //下拉
  async onReachBottom() {
    console.log("reach bottom");
    // 改变pageNo
    if (this.shopCount > this.shopQuery.pageNo * 10) {
      this.update({
        shopQuery: { ...this.shopQuery, pageNo: this.shopQuery.pageNo + 1 },
      });
      // 重新获取店铺列表
      await this.getShopsByTab();
      this.sortShops();
    }
  },
  methods: {
    ...mapMutations({
      update: "index/update",
    }),
    ...mapActions({
      getBanner: "home/getBanner",
      homeWidget: "home/homeWidget",
      homeOperation: "home/homeOperation",
      getPageTabs: "home/pageTabs",
      getShopsByTab: "home/getShopsByTab",
    }),
    // onShow(){
    //      wx.navigateTo({url:'/pages/search/index'});
    // },
    async sortShops() {
      if (this.shopQuery.pageNo === 1) {
        this.left = [];
        this.right = [];
      }
      let length = this.left.length + this.right.length;
      for (let i = length; i < this.shops.length; i++) {
        await new Promise((resolve, reject) => {
          this.$nextTick(async () => {
            let container = await this.getMinHeightContainer();
            this[container].push(this.shops[i]);
            resolve();
          });
        });
      }
    },
    async getMinHeightContainer() {
      return new Promise((resolve, reject) => {
        try {
          wx.createSelectorQuery()
            .select(".left")
            .boundingClientRect(function (rect) {
              let leftHeight = rect.height;
              wx.createSelectorQuery()
                .select(".right")
                .boundingClientRect(function (rect) {
                  let rightHeight = rect.height;
                  if (leftHeight > rightHeight) {
                    resolve("right");
                  } else {
                    resolve("left");
                  }
                })
                .exec();
            })
            .exec();
        } catch (e) {
          reject(e);
        }
      });
    },

    //跳转5个小图标 1 2 5 是web链接  用webview页面
    goWebview(item) {
      let src = item.link;
      if (/https?/.test(src)) {
        const query =
          "cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=40.041053771972656&longitude=116.29269409179688&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtehve5KF5K7Ah9lnzjih7IJjyxja08LJUIgGnVjoCTAVMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZBsg9bltst3W6RZ90iOxYPNXO1I530fC2A3EHxNYMeY-BTrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini";
        if (src.indexOf("?") !== -1) {
          src = src + "&" + query;
        } else {
          src = src + "?" + query;
        }
        wx.navigateTo({
          url: "/pages/webview/index?src=" + encodeURIComponent(src),
        });
      } else {
        //跳转3 4 图标
        wx.navigateToMiniProgram({
          appId: item.appId,
          path: item.appLink,
        });
      }
    },
    //更多
    goMore() {
      wx.switchTab({ url: "/pages/large/index" });
    },
    //大图
    clickImg(url) {
      wx.navigateTo({ url: url });
    },
    //详情
    clickGoods(id) {
      console.log(id);
      wx.navigateTo({ url: "/pages/goods/detail?id=" + id });
    },
  },
  async created() {
    let info = wx.getSystemInfoSync();
    this.systemInfo = info;
    console.log(info);
    this.getBanner();
    this.homeWidget();
    this.homeOperation();
    await this.getPageTabs();
    this.currentTab = 0;
  },
};
</script>

<style lang="scss" scoped>
swiper {
  width: 90%;
  height: 225rpx;
  margin: 3%;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.widget {
  margin: 15rpx 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    width: 110rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
  }
  span {
    margin-top: 5rpx;
    font-size: 22rpx;
  }
}
.operate-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 3%;
  img {
    width: 40rpx;
    vertical-align: text-top;
    margin-right: 10rpx;
  }
  p:first-child span {
    font-size: 40rpx;
    font-weight: 500;
  }
}
scroll-view {
  padding-left: 3%;
  box-sizing: border-box;
}
.operate-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  li {
    flex-shrink: 0;
    width: 320rpx;
    margin-right: 10rpx;
  }
  div {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 260rpx;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .shop-title {
    font-weight: 500;
    margin: 5rpx 0;
  }
  .tags span {
    margin-right: 10rpx;
    background: #fdf3e4;
    padding: 3px;
    color: #e99a3d;
    font-size: 22rpx;
  }
}
.operate-poster {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 5px;
  }
  & > img {
    width: 49%;
  }
  div {
    width: 49%;
    img {
      width: 100%;
    }
  }
}
.classify {
  header {
    margin: 10rpx 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-weight: 500;
      font-size: 34rpx;
      padding: 8rpx 0;
      border-bottom: 3px solid transparent;
    }
    span.active {
      color: #de5146;
      border-bottom: 3px solid #d65146;
    }
  }
}
.container {
  position: relative;
  min-height: 1000rpx;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  .right {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }
}
</style>
