<template>
  <div class="goods">
    <div>
      <img :src="data.thumb" alt="" mode="widthFix" />
      <p>
        <span>{{ data.minOne.shopName }}</span>
        <span>{{ data.minOne.distance | getDistance }}</span>
      </p>
    </div>
    <p class="title">{{ data.title }}</p>
    <p class="price">
      <span>¥{{ data.price }}</span>
      <span>¥{{ data.AvgPrice }}</span>
      <span>已售{{ data.saled }}</span>
    </p>
    <p>
      <span>{{ data.sort_lis[0] }}</span>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.goods {
  width: 100%;
  border-radius: 20rpx;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  & > div {
    position: relative;
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      padding: 6rpx 0;
      font-size: 24rpx;
      span:first-child {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  img {
    width: 100%;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:first-child {
      color: #db4e3a;
      font-size: 28rpx;
      font-weight: 500;
    }
    span:nth-child(2) {
      flex: 1;
      color: #b4b4b4;
      font-size: 26rpx;
      text-decoration: line-through;
    }
    span:last-child {
      color: #b6b5b5;
      font-size: 22rpx;
    }
  }
}
</style>
