<template>
  <div class="searchPage">
    <!-- 头部搜索区域 -->
    <header>
      <u-search
	  	@change="handleChange"
        placeholder="日照香炉生紫烟"
        v-model="kw"
        :action-style="{ color: 'red' }"
      ></u-search>
    </header>

    <div>
      <!-- 附近商家区域 -->
      <div>
        <p>附近商家</p>
        <div class="nearby">
          <dl v-for="item in shops" :key="item.id">
            <dt>{{ item.shopName }}</dt>
            <dd>
              <u-rate
                :count="5"
                :current="item.avgReview"
                size="20"
                gutter="1"
              />
              <span>{{ item.distance.toFixed(2) }}km</span>
            </dd>
          </dl>
        </div>
      </div>

      <!-- 切换区域 -->
      <div class="switchArea">
        <ul class="cut_header">
          <li
            v-for="(item, index) in cutlist"
            :key="index"
            :class="curIndex === index && 'active'"
            @click="curIndex = index"
          >
            {{ item }}
            <span></span>
          </li>
        </ul>
        <section class="content">
          <ul v-if="curIndex === 0" class="ranklist">
            <li v-for="item in rankList" :key="item.id">
              <span>
                <!-- <img :src="item.Logo" alt="" class="ranimg" /> -->
                <span class="ranimg"></span>
                {{ item.ShopName }}
              </span>
              <span>日排队{{ item.QueuingNum }}</span>
            </li>
          </ul>

          <div v-else-if="curIndex !== 0" class="baseArea">
            <span v-for="item in baseArea" :key="item.id">
              {{ item.name }}
            </span>
          </div>
        </section>
      </div>
    </div>
    
	<!-- 搜索列表 -->
	<div class="search_list" v-show="kw.length>0">
		<u-cell-item 
			:icon="item.TLogo" 
			:title="item.key" 
			:arrow="true" 
			arrow-direction="left"
			v-for="item in searchList"
			:key='item.content_id'
			icon-size='70'
			@click="handleClick(item)"
			>
		</u-cell-item>
	</div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      cutlist: ["火爆榜单", "商圈推荐"],
      curIndex: 0,
      kw: "",
    };
  },
  computed: {
    ...mapState({
      rankList: (state) => state.search.rankList,
      baseArea: (state) => state.search.baseArea,
      shops: (state) => state.search.shops,
	    searchList: (state) => state.search.searchList
    }),
  },
  methods: {
    ...mapActions({
      getRankList: "search/getRankList",
	     getSearchList: "search/getSearchList"
    }),
	//输入框改变发起请求 获取搜索数据
	handleChange(){
	  this.getSearchList(this.kw);
	}
  },
  onShow() {
    this.getRankList();
  },
};
</script>

<style scoped lang='scss'>
.searchPage {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
header {
  margin-bottom: 20px;
}
.switchArea {
  margin: 20px 0;
}
.cut_header {
  display: flex;
  li {
    color: #333;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      display: inline-block;
      width: 75%;
      height: 3px;
      margin-top: 6px;
    }
  }
  .active {
    color: orangered;
  }
  .active span {
    background-color: orangered;
  }
}
.content {
  width: 100%;
  color: #515151;
  padding-top: 15px;
}
.ranklist li {
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ranklist .ranimg {
  margin-right: 10px;
}
.baseArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.baseArea span {
  display: inline-block;
  width: 30%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #eee;
  font-size: 13px;
  margin: 0 1.25%;
  margin-bottom: 15px;
  border-radius: 15rpx;
}
.nearby {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.nearby dl {
  width: 30%;
  height: 60px;
  border: 1px solid #eee;
  font-size: 13px;
  border-radius: 15rpx;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.nearby dl dt {
  width: 100%;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.nearby dl dd {
  font-size: 10px;
  display: flex;
}
.search_list{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	top: 40px;
	left: 5px;
}
</style>