@font-face {
  font-family: "iconfont"; /* Project id 2775928 */
  src: url('iconfont.woff2?t=1631762401350') format('woff2'),
       url('iconfont.woff?t=1631762401350') format('woff'),
       url('iconfont.ttf?t=1631762401350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e621";
}

.icon-qian:before {
  content: "\e607";
}

.icon-xiaoshoufahuo:before {
  content: "\e609";
}

.icon-yijianfankui:before {
  content: "\e674";
}

.icon-shouhoufuwu-zidongpingjia:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e660";
}

.icon-shezhi:before {
  content: "\e697";
}

.icon-qianbao1:before {
  content: "\e6df";
}

.icon-shiyongjilu:before {
  content: "\e630";
}

.icon-download:before {
  content: "\e610";
}

.icon-shuaxin:before {
  content: "\e64b";
}

.icon-paper:before {
  content: "\e60a";
}

.icon-icon--:before {
  content: "\e792";
}

.icon-wenzhangfenlei:before {
  content: "\e633";
}

.icon-youjian:before {
  content: "\e769";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-zhishi:before {
  content: "\e61a";
}

.icon-swticonshezhitianchong:before {
  content: "\e7b4";
}

.icon-iconfront-:before {
  content: "\e611";
}

.icon-yonghu:before {
  content: "\e60b";
}

.icon-biaoqian:before {
  content: "\e631";
}

.icon-yonghu1:before {
  content: "\e765";
}

.icon-tongji:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-gongzuotai:before {
  content: "\ea9a";
}

.icon-shanchu:before {
  content: "\e696";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-shoucang1:before {
  content: "\e629";
}

.icon-liaotian:before {
  content: "\e61c";
}

